.header {
	background: #4679C2 repeat center;
}

.header h1 {
	font-size: 20px;
	color: #fff;
	padding: 10px 10px;
	font-family: "微软雅黑";
}

.home {
	background-image: url(../images/home.png) !important;
	line-height: 30px;
}

.icon-menu {
	background-image: url(../images/menuPanel/menu.png) !important;
}